@page
@model RegisterModel
@{
    ViewData["Title"] = "ĐĂNG KÝ";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-6">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Tạo một tài khoản mới.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.UserName" class="form-control" autocomplete="off" aria-required="true" placeholder="name" />
                <label asp-for="Input.UserName">Tên đăng nhập<span class="text-danger">(*)</span></label>
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="off" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email<span class="text-danger">(*)</span></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="off" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Mật khẩu<span class="text-danger">(*)</span></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="off" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Xác thực mật khẩu<span class="text-danger">(*)</span></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Name" class="form-control" autocomplete="off" aria-required="true" placeholder="Fullname" />
                <label asp-for="Input.Name">Tên đầy đủ<span class="text-danger">(*)</span></label>
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.DateOfBirth" class="form-control" autocomplete="off" aria-required="true" placeholder="01-01-1970" />
                <label asp-for="Input.DateOfBirth">Ngày sinh<span class="text-danger">(*)</span></label>
                <span asp-validation-for="Input.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Description" class="form-control" autocomplete="off" aria-required="true" placeholder="None" />
                <label asp-for="Input.Description">Mô tả</label>
                <span asp-validation-for="Input.Description" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.School" class="form-control" autocomplete="off" aria-required="true" placeholder="none" />
                <label asp-for="Input.School">Trường học<span class="text-danger">(*)</span></label>
                <span asp-validation-for="Input.School" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Branch" class="form-control" autocomplete="off" aria-required="true" placeholder="none" />
                <label asp-for="Input.Branch">Ngành học</label>
                <span asp-validation-for="Input.Branch" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Đăng ký</button>
        </form>
    </div>
    <div class="col-md-4 col-md-offset-2">
        <section>
            <h3>Đăng ký bằng phương thức khác.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
