@page "/{id}"
@model OfficialProject3.Pages.Files.DetailsModel

@{
    ViewData["Title"] = "Chi tiết tài liệu";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    bool authen = SignInManager.IsSignedIn(User); //(bool)ViewData["isAuthen"];
    var user = UserManager.GetUserAsync(User);
    var userId = UserManager.GetUserId(User);
}

<h1>@ViewData["Title"]</h1>

@if (@Model.Item == null)
{
    <h3 class="text-danger">Rất tiếc, đã có lỗi xảy ra.</h3>
    return;
}
<div>
    <h4>Chi tiết tài liệu</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.SubjectCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.SubjectCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.User.Name)
        </dd>
        <dt class="col-sm-2">
            Số lượt xem:
        </dt>
        <dd class="col-sm-10">
            @Model.Item.ViewedCount <i class="bi bi-eye-fill"></i>
        </dd>
        <dt class="col-sm-2">
            Số lượt tải xuống:
        </dt>
        <dd class="col-sm-10">
            @Model.Item.DownloadedCount <i class="bi bi-download"></i>
        </dd>
        <dt class="col-sm-2">
            Xem tài liệu: 
        </dt>
        <dd>
            <iframe src="https://onedrive.live.com/embed?cid=34969B307C2E6C79&resid=34969B307C2E6C79%21117&authkey=ANLM_ogiYiafpgI&em=2" 
            height="708" frameborder="0" scrolling="no" class="w-100"></iframe>
        </dd>
    </dl>
</div>
<div>
    @if (userId == Model.Item.UserId)
    {
        <a asp-page="./Edit" asp-route-id="@Model.Item?.Id" class="btn btn-outline-primary">
            <i class="bi bi-pencil"></i> Sửa thông tin tài liệu
        </a>
    }

    @if (userId == Model.Item.UserId || User.IsInRole("Admin"))
    {
        <a asp-page="./Delete" asp-route-id="@Model.Item?.Id" class="btn btn-danger">
            <i class="bi bi-trash3-fill"></i> Xóa tài liệu này
        </a>
    }
    <a asp-page="./Index" asp-route-type="@Model.Item?.Type" class="btn btn-info">
        <i class="bi bi-arrow-90deg-left"></i> Trở về danh sách
    </a>

    @if (authen)
    {
        <a class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#reportFile">
            <i class="bi bi-exclamation-triangle-fill"></i> Báo cáo tài liệu vi phạm
        </a>
        <!-- Modal -->
        <div class="modal fade text-black" id="reportFile" tabindex="-1"
         aria-labelledby="reportFileLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <form class="modal-content" method="post" id="report_file_form"
                asp-page-handler="ReportFile" asp-route-id="@Model.Item?.Id">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="reportFileLabel">Báo cáo tài liệu</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <div class="mb-3">
                                <label class="col-form-label">Tài liệu:</label>
                                <span type="text" class="form-control disabled" disabled>@Model.Item?.Name</span>
                            </div>
                            <div class="mb-3">
                                <label for="title" class="col-form-label">Tiêu đề:</label>
                                <input type="text" class="form-control fw-bold"
                                   asp-for="FileReport.Title" required>
                            </div>
                            <div class="mb-3">
                                <label for="report_content" class="col-form-label">Nội dung:</label>
                                <textarea class="form-control" asp-for="FileReport.Content"></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="col-form-label">Mật khẩu của bạn:</label>
                                <input type="password" class="form-control" required>
                            </div>
                            <div>
                                <a class="text-decoration-none" data-bs-toggle="tooltip" data-bs-placement="top"
                                title="Chúng tôi muốn đảm bảo đó là bạn, cũng là một cách để hạn chế những báo cáo rác hay những việc xóa tài khoản oan sai.">
                                    <i class="bi bi-info-circle-fill"></i> Vì sao chúng tôi cần mật khẩu của bạn?
                                </a>
                            </div>
                            <div>
                                @{
                                    var id = Guid.NewGuid();
                                }
                                <input type="hidden" asp-for="FileReport.Id" value="@id">
                                <input type="hidden" asp-for="FileReport.UserId" value="@userId">
                                <input type="hidden" asp-for="FileReport.ItemId" value="@Model.Item?.Id">
                                <input type="hidden" asp-for="FileReport.ReportType" value="@ReportType.FileReport">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                        <input type="submit" class="btn btn-warning" id="reportBtn" value="Báo cáo" />
                    </div>
                </form>
            </div>
        </div>
    }
</div>
<div>
    @if (authen)
    {
        <a class="btn btn-primary mt-2" href="https://1drv.ms/b/s!AnlsLnwwm5Y0dSvdpAAdt5aJAOY?e=CeAxHV"
        target="_blank">
            Tải xuống
        </a>
    }
    else
    {
        <a class="btn btn-secondary mt-2 disabled">Tải xuống</a>
    }
</div>
<br />

@*Comment part ------*@
<h2 class="mb-4">Bình luận</h2>
@if(Model.CommentList != null)
{
    @foreach (var comment in Model.CommentList)
    {
        <input type="hidden" id="comment_@comment.Id" value="" />
        <div>
            <div>
                <span class="fw-bold mt-2 mb-1" style="margin-right: 5px;">@comment.User.Name</span>
                <span class="text-white mt-2 mb-1">@comment.Content</span>
            </div>
            <span class="mt-1 mb-1" id="upvote_btn">
                <a class="w-100 text-decoration-none text-white upvoteCmt_btn"
                   id="@comment.Id">
                    <i class="bi bi-hand-thumbs-up"></i>
                </a>
                <span class="text-white" id="upvoteCmt_count_@comment.Id">@comment.Upvote</span>
            </span>
            <span class="mt-1 mb-1" id="downvote_btn">
                <a class="w-100 text-decoration-none text-white downvoteCmt_btn"
                    id="@comment.Id">
                    <i class="bi bi-hand-thumbs-down"></i>
                </a>
                <span class="text-white" id="downvoteCmt_count_@comment.Id">@comment.Downvote</span>
            </span>
            <span class="text-secondary m-2">@comment.CommentDate</span>
            @if (userId == comment.UserId)
            {
                <form method="post" asp-page-handler="DeleteComment">
                    <button href="#" class="btn btn-link text-danger m-1" id="@comment.Id"
                            asp-page-handler="DeleteComment" asp-route-commentId="@comment.Id"
                    >Xóa bình luận</button>
                    <a class="text-primary m-1 editCmt_btn">Chỉnh sửa...</a>
                </form>
            }
            @if (authen && userId != comment.UserId)
            {         
                <button type="button" class="btn btn-link text-warning p-0" 
                data-bs-toggle="modal" data-bs-target="#reportComment">Báo cáo vi phạm</button>
                <!-- Modal reportComment-->
                <div class="modal fade text-black" id="reportComment" tabindex="-1"
                aria-labelledby="reportCommentLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <form class="modal-content" method="post" id="report_comment_form"
                              asp-page-handler="ReportComment" asp-page-id="@Model.Item?.Id">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="reportCommentLabel">Báo cáo bình luận</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div>
                                    <div class="mb-3">
                                        <label for="report-title" class="col-form-label">Tiêu đề:</label>
                                        <input type="text" class="form-control fw-bold" 
                                        id="recipient-name" asp-for="CommentReport.Title" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="report-content" class="col-form-label">Nội dung:</label>
                                        <textarea class="form-control" id="message-text" asp-for="CommentReport.Content"></textarea>
                                    </div>
                                    <div class="mb-3">
                                        <label for="report-content" class="col-form-label">Mật khẩu của bạn:</label>
                                        <input type="password" class="form-control" id="userpassword">
                                    </div>
                                    <div>
                                        <a class="text-decoration-none" data-bs-toggle="tooltip" data-bs-placement="top" 
                                        title="Chúng tôi muốn đảm bảo đó là bạn, cũng là một cách để hạn chế những báo cáo rác hay những việc xóa tài khoản oan sai.">
                                            <i class="bi bi-info-circle-fill"></i> Vì sao chúng tôi cần mật khẩu của bạn?
                                        </a>
                                    </div>
                                    <div>
                                        <input type="hidden" id="commentId" value="@comment.Id"
                                        asp-for="CommentReport.CommentId">
                                        <input type="hidden" id="commentType" value="@ReportType.CommentReport"
                                        asp-for="CommentReport.ReportType">
                                        <input type="hidden" value="@userId" asp-for="CommentReport.UserId">
                                        <input type="hidden" id="reportJson" 
                                            value="@Json.Serialize(Model.CommentReport)">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                <input type="submit" class="btn btn-warning" value="Báo cáo"
                                id="reportComment_btn"/>
                            </div>                           
                        </form>
                        @*<script>
                            document.getElementById('reportComment_btn').addEventListener('click', function() {
                                document.getElementById('test').style.display = 'block'
                            })
                        </script>*@
                    </div>
                </div>
            }
        </div>
    }
}

<hr />

@if (authen)
{
    <form id="comment" method="post" asp-page-handler="CreateComment"
    asp-route-id="@Model.Item?.Id">
        <textarea class="form-control" rows="3" asp-for="Comment.Content"
        placeholder="Viết bình luận ở đây" required></textarea>
        <span asp-validation-for="Comment.Content" class="text-danger"></span>
        <input type="submit" class="btn btn-primary mt-2" value="Đăng bình luận">
        <input type="hidden" asp-for="Comment.CommentDate" value="@DateTime.Now">
        <input type="hidden" asp-for="Comment.ItemId" value="@Model.Item?.Id">
        <input type="hidden" asp-for="Comment.UserId" value="@UserManager.GetUserId(User)">
    </form>
}
else {
    <p class="text-info fw-bold">Bạn phải đăng nhập để có thể bình luận</p>
}