@page
@model OfficialProject3.Pages.Files.DetailsModel

@{
    ViewData["Title"] = Model.Item.Name;
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.SubjectCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.SubjectCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.User.Name)
        </dd>
        <dd class="col-sm-2">
            Xem tai lieu:
        </dd>
        <div id="file">

        </div>
    </dl>
</div>
<div>
    @if (UserManager.GetUserId(User) == Model.Item.UserId)
    {
        <a asp-page="./Edit" asp-route-id="@Model.Item?.Id" class="btn btn-outline-primary">
            <i class="bi bi-pencil"></i> Edit
        </a>
    }
    <a asp-page="./Index" class="btn btn-secondary">
        <i class="bi bi-arrow-90deg-left"></i> Back to List
    </a>
    <a class="btn btn-warning">
        <i class="bi bi-exclamation-triangle-fill"></i> Báo cáo tài liệu vi phạm
    </a>
</div>