@page
@model OfficialProject3.Pages.Files.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Chỉnh sửa thông tin tài liệu</h1>

<h4>@Model.Item.Name</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Item.Id" />
            <div class="form-group">
                <label asp-for="Item.Name" class="control-label"></label>
                <input asp-for="Item.Name" class="form-control" />
                <span asp-validation-for="Item.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.Description" class="control-label"></label>
                <input asp-for="Item.Description" class="form-control" />
                <span asp-validation-for="Item.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.Type" class="control-label"></label>
                <select asp-for="Item.Type" class="form-select">
                    @foreach (var type in Model.TypeList)
                    {
                        var textStyle = (type.Value == null ? "text-muted" : String.Empty);
                        <option value="@type.Value" class=@textStyle>
                            @type.Text
                        </option>
                    }
                </select>
                <span asp-validation-for="Item.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.SubjectCode" class="control-label"></label>
                <input asp-for="Item.SubjectCode" class="form-control" />
                <span asp-validation-for="Item.SubjectCode" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Item.FileLink" value="@Model.Item.FileLink" />
            <input type="hidden" asp-for="Item.UserId" value="@Model.Item.UserId" />
            <div class="form-group mt-2">
                <input type="submit" value="Lưu lại" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index" asp-route-type="@Model.Item.Type">Trở về danh sách các tài liệu @Model.Item.Type</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
