@page
@model OfficialProject3.Pages.Files.IndexModel

@{
    ViewData["Title"] = $"Danh sách các tài liệu";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    var userId = UserManager.GetUserId(User);
    var isAdmin = User.IsInRole("Admin");
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-page="Create">Tạo mới</a>
</p>
<table class="table text-white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].Name)
            </th>
            @if(isAdmin)
            {
                <th>
                    @Html.DisplayNameFor(model => model.Item[0].Type)
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.Item[0].SubjectCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Item) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @if(isAdmin)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.SubjectCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                <a class="btn btn-primary" asp-page="./Details" asp-route-id="@item.Id">Xem tài liệu</a>
                @if (userId == item.UserId)
                {
                    <a class="btn btn-warning" asp-page="./Edit" asp-route-id="@item.Id">Sửa thông tin tài liệu</a>
                }
                @if (User.IsInRole("Admin") || userId == item.UserId)
                {
                    <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.Id">Xóa tài liệu này</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
